.recipe{
    border-radius:10px;
    box-shadow:0px 5px 20px rgb(71,71,71);
    margin:20px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    background: white;
    text-align: center;
    width:60%;
}
.image{
    width:70%;
    margin-left:80px;
    border-radius: 50%;
}
.title{
    color:#9365ff;
    text-align: center;
    font-style:italic;
}
.list{
    list-style: none;
   
}
.element{
    font-weight:300%;
}
.cal{
    font-style: italic;
    font-style: bolder;
}